
@mixin logo-wha {
    color: rgb(15, 224, 43);
	display: flex;
	justify-items: center;
	font-size: x-large;
}

@mixin logo-face {
    color: rgb(16, 16, 240);
	display: flex;
	margin-right: 35px;
	font-size: x-large;
}

@mixin hover {

    color: #979090;
      
}



@mixin botones {
    color: rgb(66, 192, 241);
    background-color: rgb(82, 54, 241);
}

@mixin color {
    color: #3d3b3b;
}